<div class="jumbotron">
    <h1>Bosses</h1>
</div>
<div class="row">

    <div class="col-md-4">
        <h2>Game List</h2>
        <input type="button" value="Get Games" class="btn btn-primary" onclick="getClasses()"/>
        <ul id="class-list" class="list-group" />
    </div>

    <div class="col-md-4">
        <h2>Boss Search</h2>
        <input type="text" id="ID" size="5" />
        <input type="button" value="Find Bosses" class="btn btn-primary" onclick="findClass()" />
        <p id="current-class" class="btn btn-info" onclick="getBossesForClass()"/>
    </div>

    <div class="col-md-4">
        <h2>Bosses</h2>
        <ul id="boss-list" class="list-group"></ul>
    </div>
</div>
