<div class="jumbotron">

    <input type="button" class="btn btn-primary" value="Get Bosses" onclick="getBosses();" />

    <div class="row">
        <div class="col-md-4">
            <h2>Bosses</h2>
            <select id="lstBosses" size="2" onchange="BossSelected()" style="width:100%"></select>
        </div>
        <div class="col-md-4">
            <h2>Thumbnail</h2>
            <img id="imgThumnail" width="500" height="500" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-5">
            <h2>Boss Stats</h2>
            <ul id="lstStats" />
        </div>
    </div>
</div>
<div class="btn btn-danger">
 <input type="button" class="btn btn-danger" value="Search Youtube For this boss" onclick="youtubeSearch();"/>
</div>
<script type="text/javascript">
          
    var uri = "http://localhost:28314/api/BossesController";
    var youtubeuri = "http://www.googleapis.com/youtube/v3/search";
    var myUri = "http://localhost:28314/api/BossesController";

    $.ajax(
                   {
                       type: 'GET',
                       dataType: 'json',
                       url: test,
                       processData: true,
                       success: function (data, status) {
                           $.each(data.data.results, function (key, item) {
                               $('<li>', { text: item.id }).appendTo('#lstIDs');
                               $('<li>', { text: item.name }).appendTo('#lstNames');
                           })
                       },
                       error: function (jqXHR, errorThrown) { alert(jqXHR.status) },
                   })
    


    // Search for a specified string.
    function youtubeSearch() {
        var q = $('#query').val();
        var request = gapi.client.youtube.search.list({
            q: q,
            part: 'snippet'
        });

        request.execute(function (response) {
            var str = JSON.stringify(response.result);
            $('#search-container').html('<pre>' + str + '</pre>');
        });
    }


            function getBosses() {
                $.ajax(
                    {
                        type: 'GET',
                        dataType: 'json',
                        url: myUri,
                        processData: true,
                        success: function (data, status) {
                            $.each(data, function (key, item) {
                                $('<option>', { text: item.Name, id: item.ID }).appendTo('#lstBosses');
                            })
                        },
                        error: function (jqXHR, errorThrown) { alert(jqXHR.status) },
                    })
            }

            function BossSelected() {

                $('#lstStats').empty();

                var timestamp = Date.now();
                var hash = createHash(timestamp);
                var BossID = $('#lstBosses option:selected').attr('id');
                var suffix = 'bosses/' + BossID;
                var completeURL = uri + suffix + '?&ts=' + timestamp + '&apikey=' + publicKey + '&hash=' + hash;

                $.ajax(
                    {
                        type: 'GET',
                        dataType: 'json',
                        url: completeURL,
                        processData: true,
                        success: function (data, status) {
                            var imageSource = data.data.results[0].thumbnail.path +'.'+ data.data.results[0].thumbnail.extension;
                            $("#imgThumnail").attr("src", imageSource);

                            $.each(data.data.results[0].comics.items, function (key, item) {
                                $('<li>', { text: item.name }).appendTo('#lstStats');
                            });

                        },
                        error: function (jqXHR, errorThrown) { alert(jqXHR.status) },
                    })
            }

</script>
